{% extends "layouts/base.html" %}

{% block title %} Order Product {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <!-- [ Main Content ] start -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>Order Product</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <form role="form" method="post"
                            action="{% url 'retailer_order:order_create_view' %}">

                        {% csrf_token %}

                        <div class="form-group">
                          <label for="{{ form.product.id_for_label }}">Product Name</label>
                          {{ form.product }}
                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                        </div>
{#                        <div class="form-group">#}
{#                          <label for="{{ form.total_price.id_for_label }}">Price</label>#}
{#                          {{ form.total_price }}#}
{#                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->#}
{#                        </div>#}
                        <div class="form-group">
                          <label for="{{ form.quantity.id_for_label }}">Quantity</label>
                          {{ form.quantity }}
                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'pharmaceutical_order:order_list_view' %}"
                           class="btn btn-primary">Cancel</a>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- [ Main Content ] end -->
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
