{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <!-- [ Main Content ] start -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>Create Organization</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <form role="form" method="post" action="{% url 'organization:organization_form_view' %}">

                        {% csrf_token %}

                        <div class="form-group">
                          <label for="{{ form.name.id_for_label }}">Organization name</label>
                          {{ form.name }}
                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                        </div>
                        <div class="form-group">
                          <label for="{{ form.org_type.id_for_label }}">Organization type</label>
                          {{ form.org_type }}
                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                        </div>
                        <div class="form-group">
                          <label for="{{ form.contact.id_for_label }}">Contact</label>
                          {{ form.contact }}
                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                        </div>
                        <div class="form-group">
                          <label for="{{ form.address.id_for_label }}">Address</label>
                          {{ form.address }}
                          <!--                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- [ Main Content ] end -->
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
