{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="page-header-title">
                    <h5 class="m-b-10">Products</h5>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-end">
                        <a class="btn btn-primary" type="button" href="{% url 'inventory:product_create_view' %}">Add
                            new product</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Products list</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Group</th>
                                            <th>Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in products %}
                                            <tr>
                                                <th scope="row">{{ product.id }}</th>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.group }}</td>
                                                <td>{{ product.details }}</td>
                                                <td><a class="btn btn-outline-secondary" href="#">Edit</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                            <div class="col-md-3">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                                            </li>
                                            <li>
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                    {{ page_obj.previous_page_number }}
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">Previous</span>
                                            </li>
                                        {% endif %}
                                        <li class="page-item current">
                                            <span class="page-link current">{{ page_obj.number }}</span>
                                        </li>
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                    {{ page_obj.next_page_number }}
                                                </a>
                                            </li>
                                            <li class="page-item ">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <span class="page-link">Next</span>
                                            </li>
                                        {% endif %}
                                        {#                                        <li class="page-item"><a class="page-link" href="#!">Previous</a></li>#}
                                        {#                                        <li class="page-item"><a class="page-link" href="#!">1</a></li>#}
                                        {#                                        <li class="page-item"><a class="page-link" href="#!">2</a></li>#}
                                        {#                                        <li class="page-item"><a class="page-link" href="#!">3</a></li>#}
                                        {#                                        <li class="page-item"><a class="page-link" href="#!">Next</a></li>#}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ basic-table ] end -->

            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
