{% extends "layouts/base.html" %}

{% block title %}Batch Detail{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>Batch detail</h5>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-3">Product</dt>
                    <dd class="col-sm-9">{{ object.product.name }}</dd>
                    <dt class="col-sm-3">Batch Number</dt>
                    <dd class="col-sm-9">{{ object.batch_number }}</dd>
                    <dt class="col-sm-3">Production date</dt>
                    <dd class="col-sm-9">{{ object.created_at }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              # TODO: link to batch list view
{#              <a href="{% url 'pharmaceutical_order:order_create_view' %}" class="btn btn-primary">Order Raw Material</a>#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}