{% extends "layouts/base.html" %}

{% block title %} Batch list {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="page-header-title">
          <h5 class="m-b-10">Batch list</h5>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5>Batch list</h5>
              </div>
              <div class="card-block table-border-style">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Batch number</th>
                      <th>Product</th>
                      <th>Production date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for batch in batches %}
                      <tr>
                        <th scope="row">{{ batch.id }}</th>
                        <td>
                          {{ batch.batch_number }}
                        </td>
                        <td>{{ batch.product.name }}</td>
                        <td>{{ batch.created_at }}</td>
                        <td> {# <a class="btn btn-outline-secondary" #}
{#                               href="{% url 'pharma_inventory:product_update_view' product.id %}">Edit</a>#}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <hr>
              <div class="col-md-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                      </li>
                      <li>
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                          {{ page_obj.previous_page_number }}
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                    {% endif %}
                    <li class="page-item current">
                      <span class="page-link current">{{ page_obj.number }}</span>
                    </li>
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                          {{ page_obj.next_page_number }}
                        </a>
                      </li>
                      <li class="page-item ">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">Next</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link">Next</span>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- [ basic-table ] end -->

      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
