{% extends "layouts/base.html" %}

{% block title %}Raw Material Detail{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="pcoded-content">
    <div class="pcoded-inner-content">
      <div class="main-body">
        <div class="page-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h5>Product detail</h5>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">{{ raw_material.name }}</dd>
                    <dt class="col-sm-3">Price</dt>
                    <dd class="col-sm-9">{{ raw_material.price }}</dd>
                    <dt class="col-sm-3">Details</dt>
                    <dd class="col-sm-9">{{ raw_material.details }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <a href="{% url 'pharmaceutical_order:order_create_view' %}" class="btn btn-primary">Order Raw Material</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}