{% extends "layouts/base.html" %}

{% block title %} Raw Materials {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="page-header-title">
          <h5 class="m-b-10">Raw Materials</h5>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username"
                     aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Search</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5>Products list</h5>
              </div>
              <div class="card-block table-border-style">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for raw_material in raw_materials %}
                      <tr>
                        <th scope="row">{{ raw_material.id }}</th>
                        <td>
                          <a href="{% url 'pharma_inventory:raw_material_detail_view' raw_material.id %}">{{ raw_material.name }}</a>
                        </td>
                        <td>{{ raw_material.price }}</td>
                        <td>{{ raw_material.details|truncatewords:5 }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <hr>
              <div class="col-md-3">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                      </li>
                      <li>
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                          {{ page_obj.previous_page_number }}
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                    {% endif %}
                    <li class="page-item current">
                      <span class="page-link current">{{ page_obj.number }}</span>
                    </li>
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                          {{ page_obj.next_page_number }}
                        </a>
                      </li>
                      <li class="page-item ">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">Next</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <span class="page-link">Next</span>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- [ basic-table ] end -->

      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
